:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 152px;
  gap: 75px;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  height: 100%;
  transition: all 0.3s ease;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.container {
  max-width: 1600px;
  padding: 0 8rem;
  margin: 0 auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin-left: 100px;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: red;
}
button:focus,
button:focus-visible {
  outline: 4px auto red;
}

.product-li {
  width: 264px;
  height: 336px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(199, 195, 195, 0.3);

  h2 {
    padding-left: 20px;
  }
  p {
    padding-left: 20px;
    padding-top: 8px;
    flex-direction: column;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
  }
}

.not {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
